<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

<title>가계부</title>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/vendors.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-extended.css}" />

<link rel="stylesheet" th:href="@{/css/colors.css}" />
<link rel="stylesheet" th:href="@{/css/components.css}" />


<link rel="stylesheet" th:href="@{/css/vertical-menu.css}" />

<link rel="stylesheet" th:href="@{/css/apexcharts.css}" />
<link rel="stylesheet" th:href="@{/css/toastr.min.css}" />

<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
	data-menu="vertical-menu-modern" data-col="">

	<!-- BEGIN: Main Menu-->
	<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
		<div class="navbar-header">
			<ul class="nav navbar-nav flex-row">
				<li class="nav-item me-auto"><a class="navbar-brand" href="/"> <span class="brand-logo"> <image
								th:src="@{/images/favicon.ico}" width=100></span>
						<h2 class="brand-text">가 계 부</h2>
				</a></li>
				<li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"> <i
						class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i> <i
						class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a>
				</li>
			</ul>
		</div>
		<div class="shadow-bottom"></div>
		<div class="main-menu-content">
			<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
				<li class=" nav-item"><a class="d-flex align-items-center" href="/money/dashboard.do"><i data-feather="bar-chart"></i>
						<span class="menu-title text-truncate" data-i18n="Home">리포트</span> </a></li>
				<li class=" nav-item"><a class="d-flex align-items-center" href="/money/list.do"><i data-feather="list"></i> <span
						class="menu-title text-truncate" data-i18n="Home">목록</span> </a></li>
				<li class=" nav-item"><a class="d-flex align-items-center" href="/money/add.do"><i data-feather="plus"></i> <span
						class="menu-title text-truncate" data-i18n="Home">항목 추가</span> </a></li>
				<li class=" nav-item"><a class="d-flex align-items-center" href="/user/list.do"><i data-feather="user"></i> <span
						class="menu-title text-truncate" data-i18n="Home">권한 제어</span> </a></li>
			</ul>
		</div>
	</div>
	<!-- END: Main Menu-->

	<!-- BEGIN: Content-->
	<div class="app-content content ">
		<div class="content-overlay"></div>
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-md-9 col-12 mb-2">
					<div class="row breadcrumbs-top">
						<div class="col-12">
							<h2 class="content-header-title float-start mb-0">리포트</h2>
						</div>
					</div>
				</div>
				<div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
					<div class="mb-1 breadcrumb-right"></div>
				</div>
			</div>
			<div class="content-body">
				<div class="row">
					<!-- Revenue Report Card -->
					<div class="col-lg-9 col-9">
						<div class="card card-revenue-budget">
							<div class="row mx-0">
								<div class="col-md-12 col-12 revenue-report-wrapper">
									<div class="d-sm-flex justify-content-between align-items-center mb-3">
										<h4 class="card-title mb-50 mb-sm-0">연간 사용 그래프</h4>
										<div class="d-flex align-items-center">
											<div class="d-flex align-items-center me-2">
												<span class="bullet bullet-primary font-small-3 me-50 cursor-pointer"></span> <span>수입</span>
											</div>
											<div class="d-flex align-items-center ms-75">
												<span class="bullet bullet-warning font-small-3 me-50 cursor-pointer"></span> <span>지출</span>
											</div>
										</div>
									</div>
									<div id="revenue-report-chart"></div>
								</div>
							</div>
						</div>
					</div>

					<!-- Donut Chart Starts-->
					<div class="col-xl-3 col-3">
						<div class="card">
							<div class="card-header flex-column align-items-start">
								<h4 class="card-title mb-75">항목별 지출</h4>
							</div>
							<div class="card-body">
								<div id="donut-chart"></div>
							</div>
						</div>
					</div>
					<!-- Donut Chart Ends-->

				</div>

			</div>
		</div>
	</div>
	<!-- END: Content-->

	<div class="sidenav-overlay"></div>
	<div class="drag-target"></div>

	<!-- BEGIN: Footer-->
	<button class="btn btn-primary btn-icon scroll-top" type="button">
		<i data-feather="arrow-up"></i>
	</button>
	<!-- END: Footer-->

	<script type="text/javascript" th:src="@{/js/vendors.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/apexcharts.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/app-menu.js}"></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>

	<script type="text/javascript" th:src="@{/js/requests.js}"></script>

	<script>
		function main() {
			var basicPickr = $('.flatpickr-basic');
			if (basicPickr.length) {
				basicPickr.flatpickr();
			}

			window.requests.get('/money/dashboard').done(function(response) {
				var data = {
					incomeList : [],
					expenseList : [],
					dateList : [],
					totalList : [],
				}
				response.forEach(function(item) {
					data.incomeList.push(item.income);
					data.expenseList.push(-item.expense);
					data.totalList.push(item.income - item.expense);
					data.dateList.push(item.createdDate);
				});

				drawBarChart(data);
				drawLineChart(data);
			});

			window.requests.get('/money/dashboard/category').done(function(response) {
				var data = {
					expenseList : [],
					categoryList : [],
					sum : 0
				}
				response.forEach(function(item) {
					data.expenseList.push(item.expense);
					data.categoryList.push(item.category);
					data.sum += item.expense;
				});

				console.log(data)
				drawPieChart(data);
			});

			function drawBarChart(data) {
				var $revenueReportChart = document
						.querySelector('#revenue-report-chart');
				var revenueReportChartOptions = {
					chart : {
						height : 230,
						stacked : true,
						type : 'bar',
						toolbar : {
							show : false
						}
					},
					plotOptions : {
						bar : {
							columnWidth : '17%',
							endingShape : 'rounded'
						},
						distributed : true
					},
					colors : [ window.colors.solid.primary,
							window.colors.solid.warning ],
					series : [ {
						name : '수입',
						data : data.incomeList
					}, {
						name : '지출',
						data : data.expenseList
					} ],
					dataLabels : {
						enabled : false
					},
					legend : {
						show : false
					},
					grid : {
						padding : {
							top : -20,
							bottom : -10
						},
						yaxis : {
							lines : {
								show : false
							}
						}
					},
					xaxis : {
						categories : data.dateList,
						labels : {
							style : {
								colors : '#b9b9c3',
								fontSize : '0.86rem'
							}
						},
						axisTicks : {
							show : false
						},
						axisBorder : {
							show : false
						}
					},
					yaxis : {
						labels : {
							style : {
								colors : '#b9b9c3',
								fontSize : '0.86rem'
							}
						}
					}
				};
				var revenueReportChart = new ApexCharts($revenueReportChart,
						revenueReportChartOptions);
				revenueReportChart.render();
			}

			function drawLineChart(data) {
				var budgetChartOptions = {
					chart : {
						height : 80,
						toolbar : {
							show : false
						},
						zoom : {
							enabled : false
						},
						type : 'line',
						sparkline : {
							enabled : true
						}
					},
					stroke : {
						curve : 'smooth',
						dashArray : [ 0, 5 ],
						width : [ 2 ]
					},
					colors : [ window.colors.solid.primary ],
					series : [ {
						data : data.totalList
					} ],
					tooltip : {
						enabled : false
					}
				};

				var $budgetChart = document.querySelector('#budget-chart');
				budgetChart = new ApexCharts($budgetChart, budgetChartOptions);
				budgetChart.render();
			}

			var chartColors = {
				column : {
					series1 : '#826af9',
					series2 : '#d2b0ff',
					bg : '#f8d3ff'
				},
				success : {
					shade_100 : '#7eefc7',
					shade_200 : '#06774f'
				},
				donut : {
					series1 : '#ffe700',
					series2 : '#00d4bd',
					series3 : '#826bf8',
					series4 : '#2b9bf4',
					series5 : '#FFA1A1',
					series6 : '#A1FFA1'
				},
				area : {
					series3 : '#a4f8cd',
					series2 : '#60f2ca',
					series1 : '#2bdac7'
				}
			};

			function drawPieChart(data) {
				var donutChartEl = document.querySelector('#donut-chart'), donutChartConfig = {
					chart : {
						height : 350,
						type : 'donut'
					},
					legend : {
						show : true,
						position : 'bottom'
					},
					labels : data.categoryList,
					series : data.expenseList,
					colors : [ chartColors.donut.series1,
							chartColors.donut.series5,
							chartColors.donut.series3,
							chartColors.donut.series2,
							chartColors.donut.series4,
							chartColors.donut.series6 ],
					dataLabels : {
						enabled : true,
						formatter : function(val, opt) {
							return parseInt(val) + '%';
						}
					},
					plotOptions : {
						pie : {
							donut : {
								labels : {
									show : true,
									name : {
										fontSize : '2rem',
									},
									value : {
										fontSize : '1rem',
										formatter : function(val) {
											return parseInt(val)
													.toString()
													.replace(
															/\B(?=(\d{3})+(?!\d))/g,
															",")
													+ '원';
										}
									},
									total : {
										show : true,
										fontSize : '1.5rem',
										label : '전체 사용 금액',
										formatter : function(w) {
											return data.sum.toString().replace(
													/\B(?=(\d{3})+(?!\d))/g,
													",");
											+'원';
										}
									}
								}
							}
						}
					},
				};
				var donutChart = new ApexCharts(donutChartEl, donutChartConfig);
				donutChart.render();
			}

			if (feather) {
				feather.replace({
					width : 14,
					height : 14
				});
			}
		}
		$(window).on('load', main)
	</script>
</body>
<!-- END: Body-->

</html>