<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

<title>가계부</title>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/vendors.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-extended.css}" />

<link rel="stylesheet" th:href="@{/css/colors.css}" />
<link rel="stylesheet" th:href="@{/css/components.css}" />


<link rel="stylesheet" th:href="@{/css/vertical-menu.css}" />

<link rel="stylesheet" th:href="@{/css/vertical-menu.css}" />
<link rel="stylesheet" th:href="@{/css/form-validation.css}" />
<link rel="stylesheet" th:href="@{/css/authentication.css}" />

<link rel="stylesheet" th:href="@{/css/toastr.min.css}" />

<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
	data-menu="vertical-menu-modern" data-col="blank-page">
	<!-- BEGIN: Content-->
	<div class="app-content content ">
		<div class="content-overlay"></div>
		<div class="header-navbar-shadow"></div>
		<div class="content-wrapper">
			<div class="content-header row"></div>
			<div class="content-body">
				<div class="auth-wrapper auth-basic px-2">
					<div class="auth-inner my-2">
						<!-- Login basic -->
						<div class="card mb-0">
							<div class="card-body">
								<a href="/money/list.do" class="brand-logo" style="margin-left: -20px"> <image
										th:src="@{/images/favicon.ico}" width=50>
									<h2 class="brand-text text-danger ms-1">회원가입</h2></a>

									<div class="mb-1">
										<label for="login-first" class="form-label">First Name</label> <input type="text" class="form-control"
											id="login-first" name="login-first" placeholder="" aria-describedby="login-first"
											tabindex="1" autofocus />
									</div>
									<div class="mb-1">
										<label for="login-last" class="form-label">Last Name</label> <input type="text" class="form-control"
											id="login-last" name="login-last" placeholder="" aria-describedby="login-last"
											tabindex="1" autofocus />
									</div>
									<div class="mb-1">
										<label for="login-email" class="form-label">ID</label> <input type="text" class="form-control"
											id="login-email" name="login-email" placeholder="wonjae@example.com" aria-describedby="login-email"
											tabindex="1" />
									</div>

									<div class="mb-1">
										<div class="d-flex justify-content-between">
											<label class="form-label" for="login-password">Password</label>
										</div>
										<div class="input-group input-group-merge form-password-toggle">
											<input type="password" class="form-control form-control-merge" id="login-password" name="login-password"
												tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
												aria-describedby="login-password" /> <span class="input-group-text cursor-pointer"><i
												data-feather="eye"></i></span>
										</div>
									</div>
									
									<div class="mb-1">
										<div class="d-flex justify-content-between">
											<label class="form-label" for="login-confirm">Confirm</label>
										</div>
										<div class="input-group input-group-merge form-password-toggle">
											<input type="password" class="form-control form-control-merge" id="login-confirm" name="login-confirm"
												tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
												aria-describedby="login-confirm" /> <span class="input-group-text cursor-pointer"><i
												data-feather="eye"></i></span>
										</div>
									</div>
									<button id="button-register" class="btn btn-danger w-100" tabindex="4">회원가입</button>
									
									<a href="/login/login.do" class="btn btn-success w-100 mt-2" tabindex="4">로그인 화면으로 돌아가기</a>

							</div>
						</div>
						<!-- /Login basic -->
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- END: Content-->


	<script type="text/javascript" th:src="@{/js/vendors.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/flatpickr.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/app-menu.js}"></script>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>

	<script type="text/javascript" th:src="@{/js/requests.js}"></script>
	<script>
		$(window).on('load', function() {
			
			$('#button-register').on('click', function() {
				var params = {
						firstName: $('#login-first').val(),
						lastName: $('#login-last').val(),
						inputEmail: $('#login-email').val(),
						inputPassword: $('#login-password').val(),
						confirmPassword: $('#login-confirm').val(),
				};
				
				window.requests.infoToast("요청중입니다 잠시만 기다려주세요.");
				
				window.requests.post('/login/register.ajax', params).done(function(response){
					if(response.status == 'Error') {
						window.requests.failToast(response.errMsg);
						return;
					}
					
					window.requests.successToast("계정 신청 접수가 완료되었습니다.\n발송된 이멩리을 열어서 인증 처리하시기 바랍니다.");
					return;
				});
				
			});
			
			
			if (feather) {
				feather.replace({
					width : 14,
					height : 14
				});
			}
		})
	</script>
</body>
<!-- END: Body-->

</html>